/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'),
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff');
}

html {
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
background-color: #f5f5f5;
}

h2 {
  margin: 0;
}

input {
  outline: none;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  color: white;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0 9px 27px rgba(176, 190, 197, .32),
              0 3px 5px rgba(176, 190, 197, .32);
          box-shadow: 0 9px 27px rgba(176, 190, 197, .32),
              0 3px 5px rgba(176, 190, 197, .32);
}

.logo {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 53px;
  background: url(../img/logo.svg);
}

.logo_320 {
  display: none;
  width: 24px;
  height: 24px;
  margin: 0;
  background: url(../img/logo_320.svg) no-repeat center;
  cursor: pointer;
}

.header__seachcontainer {
  position: relative;
  width: 581px;
  z-index: 2;
}

.header__input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #B0B0B0;
  z-index: 2;
}

.header__seachlist {
  position: absolute;
  display: none;
  left: 0;
  top: 44px;
  width: 100%;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #b0b0b0;
  background: #f5f5f5;
  border: 1px solid #E7E5EB;
  z-index: 2;
}

li:focus {
  font-weight: 600;
  color: #000;
  cursor: pointer;
  outline: none;
}

.header__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.header__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.header__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.header__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.header__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.clients {
  padding: 40px 90px;
}

.clients__tablecontainer {
  height: 319px;
  max-height: 319px;
  margin-bottom: 32px;
}

.clients__header {
  margin-bottom:26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.clients__container {
  margin-bottom: 8px;
  background-color: #fff;
}

.clients__container_loading {
  background: url(../img/loading.gif)no-repeat center center;
  background-size: 100px;
}

.sticky {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__header {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #B0B0B0;
  background-color: #f5f5f5;
}

.header__id {
  padding-left: 20px;
  cursor: pointer;
}

.header__fio, .header__create, .header__modify {
  cursor: pointer;
}

.sorted {
  color: #9873FF;
}

.arrow_up, .arrow_down {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0;
}

.arrow_up {
  background: url(../img/arrow_up.svg) no-repeat;
}

.arrow_down {
  background: url(../img/arrow_down.svg) no-repeat;
}

.header__id:hover, .header__fio:hover, .header__create:hover, .header__modify:hover {
  color: #000;
}

.table__row {
  height: 60px;
  border-bottom: 1px solid #C8C5D1;
}

.table__cell {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333;
}

/* синхронизация с заголовком */

.table__id, .header__id {
  width: 80px;
  min-width: 80px;
  padding-left: 10px;
}

.table__fio, .header__fio {
  width: 100%;
  padding-right: 10px;
}

.table__date {
  min-width: 175px;
  width: 175px;
}

.header__contacts, .table__contacts {
  width: 158px;
  min-width: 158px;
}

.header__actions, .table__actions {
  min-width: 210px;
  width: 210px;
}

/* ---- */

.table__id {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}

.table__time {
  display: inline-block;
  margin: 0;
  color: #B0B0B0;
}

.table__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 59px;
  padding: 5px 50px 5px 0;
}

.table__edit {
  display:inline-block;
  padding-left: 16px;
  margin-right: 30px;
  background: url(../img/edit.svg) no-repeat center left;
  cursor: pointer;
}

.table__edit_loading {
  background: url(../img/edit-loading.gif) no-repeat center left;
  background-size: 14px;
}

.table__edit:hover {
  color: #9873FF;
}

.table__del {
  display: inline-block;
  padding-left: 16px;
  padding-right: 10px;
  background: url(../img/del.svg) no-repeat center left;
  cursor: pointer;
}

.table__del_loading, .table__del:active {
  background: url(../img/del-loading.gif) no-repeat center left;
  background-size: 14px;
}

.table__del:hover {
  color: #F06A4D;
}

.clients__buttoncontainer, .clients__tabscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__addclient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 216px;
  padding: 12px 26px;
  background: #f5f5f5;
  background-position: 10% center;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #9873FF;
  border: 1px solid #9873FF;
  cursor: pointer;
}

.clients__addclient:hover {
  background: #B89EFF;
  color: #fff;
}

.clients__addclient:hover svg path {
  fill: #fff;
}

.clients__addclient:active {
  background: #8052FF;
}

.delclient {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 450px;
  left: 50%;
  top: 50%;
  padding-top: 22px;
  padding-bottom: 27px;
  background: #fff;
  z-index: 5;
  -webkit-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
}

.delclient__close {
  position: absolute;
  top: 17px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 29px;
  height: 29px;
  border: none;
  cursor: pointer;
}

.delclient__header {
  margin-bottom: 11px;
}

.delclient__really {
  width: 275px;
  margin: 0 0 25px 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.delclient__del {
  width: 130px;
  margin-bottom: 5px;
  padding: 13px 0;
  border: none;
  background: #9873FF;
  color: #fff;
  cursor: pointer;
}

.newclient {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 450px;
  left: calc(50% - 225px);
  top: calc(50% - 350px);
  background: #fff;
  z-index: 3;
}

.newclient__blocklist, .delclient__blocklist {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #B0B0B0;
  opacity: 20%;
}

.newclient__blocklist {
  z-index: 4;
}

.delclient__blocklist {
  z-index: 6;
}

.newclient__blocklist_loading, .delclient__blocklist_loading {
  background: url(../img/loading.gif)no-repeat center center;
  background-size: 100px;
}

.newclient__inputpath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 30px 0 30px;
}

.newclient__upperrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 27px;
}

.newclient__directlink {
  position: relative;
  display: none;
  margin-top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 390px;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #B0B0B0;
  cursor: pointer;
}

.newclient__directlink:hover .directlink__popup {
  display: block;
}

.newclient__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.newclient__id {
  display: inline-block;
  margin: 0 0 0 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}

.newclient__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 29px;
  height: 29px;
  border: none;
  -webkit-transform:translate(15px, -9px);
      -ms-transform:translate(15px, -9px);
          transform:translate(15px, -9px);
  cursor: pointer;
}

.newclient__close:hover svg path, .delclient__close:hover svg path {
  fill: #000;
}

.newclient__close:active svg path, .delclient__close:active svg path {
  fill: #ff0000;
}

.newclient__placeinput {
  position: relative;
  margin-bottom: 32px;
}

.newclient__input {
  width: 100%;
  padding: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid #C8C5D1;
}

.newclient__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
}

.newclient__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
}

.newclient__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
}

.newclient__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
}

.newclient__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
}

.newclient__placeholder {
  cursor: text;
  position: absolute;
  top: 4px;
  left: 5px;
  width: 100%;
  display: inline;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #B0B0B0;
  -webkit-transition: font-size .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: font-size .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out, font-size .3s ease-in-out;
  transition: transform .3s ease-in-out, font-size .3s ease-in-out;
  transition: transform .3s ease-in-out, font-size .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.newclient__placeholder span {
  font-weight: 600;
  color: #9873FF;
}

.newclient__placeholder_edit {
  font-size: 10px;
  line-height: 14px;
  -webkit-transform: translate(-1px, -14px);
      -ms-transform: translate(-1px, -14px);
          transform: translate(-1px, -14px);
}

.newclient__addcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px 0;
  background: #f4f3f6;
}

.newclient__addcontact_added {
  padding: 25px 0;
}

.newclient__contacts {
  display: none;
  width: 100%;
  padding: 0 30px;
}

.newclient__contacts_0, .newclient__contacts_1, .newclient__contacts_2 {
  display: none;
}

.newclient__tabs, .client__tabs {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48px;
  height: 6px;
  margin-bottom: 15px;
}

.newclient__tabs_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newclient__tab {
  display: none;
  width: 6px;
  background: url(../img/Ellipse.svg);
  cursor: pointer;
}

.newclient__tab_active {
  background: url(../img/Ellipse_active.svg);
}

.newclient__visible {
  display: inline-block;
}

.newclient__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 25px;
}

.choices__list--dropdown .choices__placeholder{
  display: none;
}

.choices {
  margin: 0;
  width: 123px;
  min-width: 123px;
}

.choices[data-type*=select-one]:after {
  width: 6px;
  height: 6px;
  right: 12px;
  top: 12px;
  margin-top: 0;
  border-left: 2px solid #9873FF;
  border-bottom: 2px solid #9873FF;
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  top: 17px;
  border-color: #9873FF;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.choices__placeholder, .choices__item {
  padding: 0 12px;
  line-height: 16px;
}

.choices__list--single {
  width: 121px;
  padding: 0;
}

.choices__inner {
  position: relative;
  padding: 10px 0;
  width: auto;
  min-height: auto;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  background: #E7E5EB;
  border: 1px solid #C8C5D1;
  border-radius: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 10px;
  line-height: 16px;
}

.is-focused .choices__inner {
  border: 1px solid #C8C5D1;
}

.is-open .choices__inner {
  border-radius: 0;
  border: 1px solid #C8C5D1;
}

.is-open .choices__list--dropdown {
  position: absolute;
  margin-top: -1px;
  width: 123px;
  padding: 0;
  border-radius: 0;
  border: 1px solid #C8C5D1;
}

.is-selected {
  display: none;
}

.choices__list--dropdown .choices__list {
  padding: 10px 12px 0 12px;
  background: #f4f3f6;
}

.choices__list--dropdown .choices__item  {
  padding: 0 0 9px 0;
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

.contact__input {
  width: 100%;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #C8C5D1;
  border-left: none;
  background: #f4f3f6;
}

.contact__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.contact__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.contact__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.contact__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.contact__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #B0B0B0;
}

.red::-webkit-input-placeholder {
  color: red;
}

.red::-moz-placeholder {
  color: red;
}

.red:-ms-input-placeholder {
  color: red;
}

.red::-ms-input-placeholder {
  color: red;
}

.red::placeholder {
  color: red;
}

.newclient__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 149px;
  padding: 0;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: none;
  cursor: pointer;
}

.newclient__add:hover {
  color: #9873FF;
}

.newclient__add:hover svg circle {
  fill: #9873FF;
}

.newclient__add:hover svg rect {
  fill: #fff;
}

.neclient__buttoncontainer {
  padding: 25px 98px;
}

.newclient__savepath, .newclient__editpath {
  width: 100%;
  padding: 0 54px;
}

.hidden {
  display: none;
}

.errormessage, .delclient__errormessage {
  width: 255px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #F06A4D;
}

.newclient__save {
  width: 100%;
  padding: 13px 0;
  border: none;
  background: #9873FF;
  color: #fff;
  cursor: pointer;
}

.newclient__save:hover, .delclient__del:hover {
  background: #B89EFF;
}

.newclient__save:active, .delclient__del:active {
  background: #8052FF;
}

.newclient__cancel, .delclient__cancel {
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  color: #333;
  cursor: pointer;
}

.newclient__cancel:hover, .delclient__cancel:hover {
  color: #000;
}

.newclient__cancel:active, .delclient__cancel:active {
  color: #ff0000;
}

.blocklist {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 60%;
  z-index: 2;
}

.seach__blocklist {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tooltip {
  position: relative;
  display: inline;
  width: 16px;
  height: 26px;
  padding: 5px 0;
  cursor: pointer;
}

.tooltip:not(:nth-child(5n)) {
  margin-right: 7px;
}

.tooltip_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  background: url(../img/plus.svg);
  cursor: pointer;
}

.tooltip_plus:hover {
  background: url(../img/plus_hover.svg);
}

.tooltip:hover svg g {
  opacity: 1;
}

.newclient__remove {
  position: relative;
  min-width: 27px;
  border: 1px solid #C8C5D1;
  border-left: none;
  background: url(../img/cancel.svg) no-repeat center;
  cursor: pointer;
}

.newclient__remove:hover {
  border: 1px solid #F06A4D;
  background: url(../img/del.svg) no-repeat center;
  background-color: #E7E5EB;
}

.popup {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: max-content;
  padding: 7px 12px;
  bottom: 23px;
  left: 50%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #333;
  color: #fff;
  display: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 11px;
  display: none;
  opacity: 1;
  z-index: 3;
}

.popup::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
      -ms-transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
          transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
  bottom: 0px;
  width: 14px;
  height: 14px;
  background: #333;
  z-index: -1;
}

.popup_text {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #333;
  color: #fff;
  display: none;
}

.popup_top {
  position: absolute;
  bottom: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 11px;
  display: block;
  opacity: 1;
  z-index: 3;
}

.popup_top::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
      -ms-transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
          transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
  bottom: 0px;
  width: 14px;
  height: 14px;
  background: #333;
  z-index: -1;
}

.popup_bottom, .directlink__popup {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 11px;
  display: block;
  opacity: 1;
  z-index: 3;
}

.directlink__popup {
  bottom: -27px;
  left: 80%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  background: #333;
  color: #fff;
  display: none;
}

.popup_bottom::after, .directlink__popup::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
      -ms-transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
          transform:matrix(0.62, 0.99, -0.62, 0.99, -7, 0);
  top: 0px;
  width: 14px;
  height: 14px;
  background: #333;
  z-index: -1;
}

.popup_contact {
  display: inline-block;
  margin: 0;
  font-weight: 400;
}

.newclient__remove:hover .popup {
  display: block;
}

@media (max-width: 1160px) {
  .clients {
    padding: 40px 20px;
  }

  /* синхронизация с заголовком */

  .table__date {
    min-width: 150px;
    width: 150px;
  }

  .header__contacts, .table__contacts {
    width: 138px;
    min-width: 138px;
    padding-right: 20px;
  }

  .header__actions, .table__actions {
    min-width: 180px;
    width: 180px;
  }

  /* ---- */

  .table__edit {
    display:inline-block;
    padding-left: 16px;
    margin-right: 10px;
    background: url(../img/edit.svg) no-repeat center left;
    cursor: pointer;
  }
}

@media (max-width: 919px) {

  .clients__tablecontainer {
    height: 335px;
    max-height: 335px;
  }
}

@media (max-width: 900px) {

  .clients__tablecontainer {
    height: 350px;
    max-height: 350px;
  }

  /* синхронизация с заголовком */

  .table__id, .header__id {
    width: 60px;
    min-width: 60px;
  }

  .table__fio, .header__fio {
    min-width: 120px;
  }

  .table__date {
    min-width: 85px;
    width: 85px;
    padding-right: 10px;
  }

  .header__contacts, .table__contacts {
    width: 102px;
    min-width: 102px;
    padding-right: 10px;
  }

  .header__actions, .table__actions {
    min-width: 105px;
    width: 105px;
  }

  /* ---- */

  .tooltip:not(:nth-child(5n)) {
    margin-right: 3px;
  }
}

@media (max-width: 650px) {
  .logo {
    margin-right: 10px;
  }

  .clients {
    padding: 15px 0;
  }

  .clients__header {
    margin-bottom: 5px;
    padding-left: 15px;
    font-size: 20px;
    line-height: 27px;
  }

  .clients__tablecontainer {
    margin-bottom: 9px;
  }
}

@media (max-width: 500px) {
  .newclient {
    width: 300px;
    left: calc(50% - 150px);
    top: 50px;
  }

  .delclient {
    top: 300px;
    width: 300px;
  }

  .newclient__inputpath {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px 15px 0 15px;
  }

  .newclient__directlink {
    padding-left: 9px;
  }

  .newclient__upperrow {
    margin-bottom: 16px;
  }

  .newclient__placeinput {
    margin-bottom: 15px;
  }

  .newclient__contacts {
    padding: 0;
  }


  .newclient__contact {
    margin-bottom: 15px;
  }

  .newclient__close {
    -webkit-transform:translate(15px, -22px);
        -ms-transform:translate(15px, -22px);
            transform:translate(15px, -22px);
  }

  .neclient__buttoncontainer {
    padding: 25px 22px;
  }

  .newclient__savepath, .newclient__editpath {
    padding: 0 44px;
  }

  .choices {
    width: 100px;
    min-width: 100px;
  }

  .choices__list--single {
    width: 98px;
  }

  .is-open .choices__list--dropdown {
    width: 100px;
  }

  .contact__input {
    padding: 9px 5px;
  }

  .newclient__addcontact_added {
    padding: 25px 15px;
  }
}

@media (max-width: 320px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px;
  }

  .header__seachcontainer {
    display: none;
    width: 100%;
  }

  .header__seachcontainer_show {
    display: block;
  }

  .header__seachlist {
    top: 30px;
  }

  .header__input {
    width: 100%;
    padding: 5px;
  }

  .logo {
    display: none;
  }

  .logo_320 {
    display: inline;
    margin: 5px 0;
  }
}

@media (max-height: 768px) {
  .newclient {
    top: 20px;
  }

  .newclient__placeinput, .newclient__contact {
    margin-bottom: 10px;
  }
}
